
body {
    margin-left: 10%;
    background: white;
}

h1 {font-family: sans-serif;}

span.definition {font-size: larger;}
span.definer {font-size: small;}

ul li {
    list-style: none; 
    margin-bottom: 1ex;
}

ol li.error {list-style: none;}
ol li {margin-bottom: 1ex;}

div.flash {
    background-color: #ffd0d0;
    font-family: sans-serif;
    font-size: larger;
    padding: 0.5ex;
}

a {
    text-decoration: none;
    font-family: sans-serif;
}

div.metanav {padding-top: 1ex;}
div.metanav a {
    color: black; 
    margin-right: 0.5ex;
}

div.msg_error {
    background-color: #ffd0d0;
    font-family: sans-serif;
    font-size: larger;
    padding: 0.5ex;    
}
div.msg_ok {
    background-color: #d0ffd0;
    font-family: sans-serif;
    font-size: larger;
    padding: 0.5ex;    
}

a#red {
    color: #c04040;
}

dt {margin-top: 1em;}

