<!doctype html>
<html>
<head>
<title>What is this</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="page">
  
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  <div class="metanav">
    {% block nav %}
      {% for x in 'ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ' %}
      <a href="/list/{{x}}">{{x}}</a>
      {% endfor %}
      <a href="/list/0-9">0–9</a>
      <a href="/list/other">other</a>
    {% endblock %}
  </div>
  
  {% block header %}
  <h1>Whatis web interface</h2>
  {% endblock %}
  
  <div class="content">
    {% block body %}{% endblock %}
  </div>
</div>
</body>
</html>
